# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.log
media/

# Environment variables
.env

# OS
.DS_Store

# VS Code
.vscode/

# Migrations cache (NOT migrations files)
**/__pycache__/
